#menu {
    width: 100%;
    margin:0px;
    height: 45px;
    background-color: #030e11;
}
#menu li{
    float: left;width: 92px;line-height:39px;text-align: center;position:relative;border:none;
}
#menu li a {
    font-size:16px; color: #e6f8e9;display:block;outline:0;text-decoration:none;
}
#menu li:hover a {
    color: #ff0000; /*导航栏文字颜色 */
}
#menu li:hover .dropdown_1 {
    left:0;
    top:40px;
    z-index: 2000;
}
.dropdown_1{ /* 下拉菜单边框颜色*/
    margin: 0px auto;float: left;position: absolute;left: -999em; text-align: left;border: 1px solid #066591; border-top: none; width: 140px;
}
.simple{background: black;}
.simple li{border-bottom: cornflowerblue}
#menu li:hover div a { /* 下拉菜单文字颜色*/
    font-size:12px;color: #F4F4F4;
}
#menu li:hover div a:hover{color:#21910e;} /*下拉带单鼠标停留颜色*/
#menu li ul {
    list-style:none;padding:10px 5px;
    margin:0;
}
#menu li ul li {
    font-size:12px;line-height:26px;position:relative;padding:0;margin:0;float:none;text-align:left;width:130px;
}
#menu li ul li:hover {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.icon{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.allcenter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.vertical-center{
    position: relative;
        top: 50%;
        transform: translateY(-50%);
}
.level-center{
    position: relative;
        top: 50%;
        transform: translateX(-50%);
}
* {list-style-type: none;}
li{padding: 0;margin: 0}
ul{padding: 0}
#searchtheitem a:hover{
    background:rgba(0,0,0,0.05);
    }
.break-word{
    word-wrap: break-word;word-break: break-all
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    }
.elli{
    white-space:nowrap;
   overflow:hidden;
   text-overflow:ellipsis;
}



.hot-group{
    border-radius: 7px;
    overflow: hidden;
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.hot-group:hover{
    width: 103%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.hot-group-item{position: relative;width: 100%;height: 90px}
.hot-group .pic{position:absolute;width: 30%;height: 100%;left: 0;top: 0}
.hot-group .pic img{
    width: 70%;height: 70%;
}
.hot-group .info{position:absolute;width:70%;height: 100%;left: 30%;top: 10px}
.hot-group .info > a{position: absolute;left: 0;width:100%;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.myborder{width: 100%;height: 1px;background: #b3d4fc;overflow: hidden}
.big-border{width: 100%;height:1px;background: cornflowerblue}
.switch-item{width: 30px;height: 30px;background: lightsteelblue;border-radius: 3px;overflow: hidden;opacity: 0.4;filter: alpha(40);margin: 5px }
