<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>电影- 花瓣电影网</title>
	<!--[if lt IE 9]><script src="/public/tpl/zanpiancms/js/html5shiv.min.js"></script><script src="/public/tpl/zanpiancms/js/respond.min.js"></script><![endif]-->
	<link href="./bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<link href="./css/style.css" rel="stylesheet" type="text/css" />
	<link href="./css/white.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/daohang.css">
	<link rel="stylesheet" href="iconfont/iconfont.css">
	<script src="./js/Move.js"></script>
	<script src="iconfont/iconfont.js"></script>
	<script type="text/javascript">
		var cms = {
			root: "/",
			murl: "",
			public: "/public/tpl/",
			sid: "1",
			cid: "1",
			id: ""
		};
	</script>
	<script>
		var now;
		var oLis;
		var timerchange;
		var timer;
		var oTiaomu;
		var oLiTiaoMu;
		window.onload=function()
		{
			var ophoplace=document.getElementById('phospace');
			var oUl=document.getElementById('redian');
			oTiaomu=document.getElementById('tiaomu');
			oLiTiaoMu=getByClass(oTiaomu,'tags');
			oLis=oUl.getElementsByTagName('img');
			now=0;
			oLis[now].style.opacity=1;
			oLis[now].style.filter='alpha(opacity:100)';
			changeStyle();
			timerchange=setInterval(function(){changeOpacity();},2000);
			for(var i=0;i<oLiTiaoMu.length;i++)
			{
				oLis[i].onmouseover= function()
				{
					clearInterval(timerchange);
				};
				oLis[i].onmouseout = function()
				{
					timerchange=setInterval(function(){changeOpacity();},2000);
				};
				oLiTiaoMu[i].index=i;
				oLiTiaoMu[i].onmouseover=function()
				{
					if(now!=this.index)
					{
						oLis[now].style.opacity=0;
						oLis[now].style.filter= 'alpha(opacity:0)';
						oLis[now].timer=null;
						now=this.index;
						changeStyle();
						Mouse(oLis[now],100,'opacity');
					}
					else if(oLis[now].style.opacity==1||oLis[now].style.filter== 'alpha(opacity:100)')
					{
						oLis[now].timer=null;
						clearInterval(timerchange);
						timerchange=setInterval(function(){changeOpacity();},2000);
					}
				};
			}
		};
		function changeOpacity()
		{
			var flag=0;
			if(oLis[now].style.opacity==1||oLis[now].style.filter== 'alpha(opacity:100)')
			{
				now++;
				if(now>5)
				{
					now=0;
				}
				oLis[now].style.opacity=0;
				oLis[now].style.filter= 'alpha(opacity:0)';
				Mouse(oLis[now],100,'opacity');
				flag=1;
			}
			if(flag)
			{
				changeStyle();
			}
		}
		function changeStyle()
		{
			for(var i=0;i<oLis.length;i++)
			{
				oLis[i].style.display='none';
				oLis[now].style.display='block';
				oLiTiaoMu[i].style.background='rgba(0,0,0,0.1)';
				oLiTiaoMu[now].style.background='rgba(0,0,0,0.5)';

			}
		}
	</script>
	<style>
		.tags a{
			color:white
		}
	</style>
</head>

<body>
<div class="container_fluid">
	<div class="row" style="background-color: #030e11;">
		<div class="col_md_12 " >
			<div id="menu">
				<li> <a href="#" >花瓣</a></li>
				<li> <a href="#" >书籍</a></li>
				<li> <a href="#" >影视</a></li>
				<li> <a href="#" >话题广场</a></li>
				<li> <a href="#" >小组</a></li>
				<li> <a href="#" >消息通知</a></li>
				<li id="drop1">
					<a href="#">账号</a>
					<div id="dropdown1" class="dropdown_1">
						<div class="col_1">
							<ul class="simple">
								<li><a href="#">个人主页</a></li>
								<li><a href="#">退出账号</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="" >联系我们</a></li>
			</div>
		</div>
	</div>
	<div class="row" style="background: cornflowerblue" id="app">
		<div class="col-md-4 offset-md-6" >
			<div class="input-group mb-3">
				<input type="text" class="form-control" v-model="content" @keyup.enter="ShouyeSearch" placeholder="Search" style="margin: 10px" >
				<div class="input-group-append" style= "background-color:transparent;border:0; margin: 10px">
					<div class="btn-group">
						<button type="button" class="btn btn-success" @click="ShouyeSearch">搜索内容</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--头部结束-->
<!--幻灯模块-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="phospace" style="list-style: none;position: relative;top: 0;left: 0;width:100%;height: 300px;">
				<ul id="redian" style="position: relative;;width: 100%;height: 90%;z-index: 2;">
					<li>
						<img src="jpg/fire1.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display:block;">
					</li>
					<li ><img src="jpg/fire2.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display: none"></li>
					<li ><img src="jpg/fire3.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display: none"></li>
					<li ><img src="jpg/book3.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display: none"></li>
					<li ><img src="jpg/fire3.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display: none"></li>
					<li ><img src="jpg/book3.jpg" style="width: 100%;height: 85%;position: absolute;left: 0;top: 0;display: none"></li>
				</ul>
				<ul id="tiaomu" style="right: 0;padding-left: 10px;color: white;font-size: 16px;line-height: 35px;position: absolute;top: 0;z-index: 3;width:20%;">
					<li v-for="item in arr">
						<div class="tags" >
							<a href="#"style="padding-left: 10px;">{{item.name}}</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: -60px;">
		<div class="col-md-12">
			<div class="layout-box clearfix">
				<div class="box-title">
					<h3 class="m-0">中国大陆电影</h3>
				</div>
				<ul class="d-flex" id="Chinese_movie">
					<li class="col-md-2 col-sm-3 col-xs-4" v-for="item in arr">
						<a class="video-pic loading" data-original="original" href="item.href" title="item.name"><span class="player"></span><span class="score">{{item.score}}</span><span class="note text-bg-r">{{clear}}</span></a>
						<div class="title">
							<h5 class="text-overflow"><a href="item.href" title="item.name">{{item.name}}</a></h5>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
				<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
				<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
				<script>
					var search_content = new Vue({
						el: "#app",
						data: {
							content: '',
							resultList: []
						},
						methods: {
							ShouyeSearch: function () {
								//这里需要后端的网址
								var that = this;
								axios.get('http://wthrcdn.etouch.cn/weather_mini?city='+ that.content)
									.then(function (response) {
										console.log(that.content);
										console.log(response);
										that.resultList = response.data.data.forecast;
									})
									.catch(function (err) {

									});
								window.location.href=' http://www.baidu.com/s?wd='+this.content;
							}
						},
					});
					var tiaomu = new Vue({
						el: "#tiaomu",
						data: {
							arr: [{href: "https://baidu.com", name: "天天向上"},
								{href: "https://baidu.com",name: "天天向下"},
								{href: "https://baidu.com", name: "天天向左"},
								{href: "https://baidu.com", name: "天天向右"},
								{href: "https://baidu.com", name: "天天向中"},
								{href: "https://baidu.com", name: "天天向外"},
							]
						},
					});
					var Chinese_movie = new Vue({
						el: "#Chinese_movie",
						data: {
							picture:'',
							original:"http://pic.huayude.com/uploads/vod/2020-04-08/72ffc768717c3549783bc8dbfb1e1d58.jpg",
							clear:'HD',
							arr: [{href: "/video/46194.html", name: "哥哥，谁带你回家",score:"9.0"},
								{href: "/video/46194.html", name: "得到，谁带你回家",score:"9.0"},
								{href: "/video/46194.html", name: "弟弟，谁带你回家",score:"9.0"},
								{href: "/video/46194.html", name: "姐姐，谁带你回家",score:"9.0"},
								{href: "/video/46194.html", name: "妹妹，谁带你回家",score:"9.0"},
								{href: "/video/46194.html", name: "叔叔，谁带你回家",score:"9.0"}]
						},
					});

				</script>
</body>

</html>