<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>消息通知</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/daohang.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="./js/Move.js"></script>
	<script src="./iconfont/iconfont.js"></script>
	<script>
		window.onload=function(){
			var lis=document.getElementsByClassName("hh");
			var btns=document.getElementById("btn").getElementsByTagName("button");
			for(var i=0;i<btns.length;i++){
				btns[i].index=i;
				btns[i].onclick=function(){
					for(var j=0;j<btns.length;j++)
					lis[j].style.display="none";
					lis[this.index].style.display="block";
					for(var j=0;j<btns.length;j++)
					btn[j].style.color="black";
					alert(this.index);
					btn[this.index].className="breadcrumb-item btn";
				}
			}
		}
	</script>

    <style>
        .hot-group
		{
            border-radius: 7px;
            overflow: hidden;
            height: auto;
            width: 100%;
            overflow: hidden;
            transition: width 1s;
            transition: height 1s;
        }
        .hot-group:hover
		{
            width: 103%;
            box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
        }
        .hot-group-item{position: relative;width: 100%;height: 90px}
        .hot-group .pic{position:absolute;width: 30%;height: 100%;left: 0;top: 0}
        .hot-group .pic img
		{
            width: 70%;height: 70%;
        }
        .hot-group .info{position:absolute;width:70%;height: 100%;left: 30%;top: 10px}
        .hot-group .info > a{position: absolute;left: 0;width:100%;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
        .myborder{width: 100%;height: 1px;background: #b3d4fc;overflow: hidden}
        .big-border{width: 100%;height:1px;background: cornflowerblue}
        .switch-item{width: 30px;height: 30px;background: lightsteelblue;border-radius: 3px;overflow: hidden;opacity: 0.4;filter: alpha(40);margin: 5px }
    </style>
</head>

<body>
	<div class="container_fluid">
        <div class="row" style="background-color: #030e11;">
        	<div class="col_md_12 " >
            	<div id="menu">
                	<li> <a href="#" >花瓣</a></li>
                	<li> <a href="#" >书籍</a></li>
                	<li> <a href="#" >影视</a></li>
                	<li> <a href="#" >话题广场</a></li>
                	<li> <a href="#" >小组</a></li>
                	<li> <a href="#" >消息通知</a></li>
                	<li id="drop1">
                    	<a href="#">账号</a>
                    	<div id="dropdown1" class="dropdown_1">
                        	<div class="col_1">
                            	<ul class="simple">
                                	<li><a href="#">个人主页</a></li>
                                	<li><a href="#">退出账号</a></li>
                            	</ul>
                        	</div>
                    	</div>
                	</li>
                	<li><a href="" >联系我们</a></li>
            	</div>
        	</div>
    	</div>
    </div>
    <div class="container_fluid">
    	<div class="row">
        	<div class="col-md-6 offset-md-5">
				<h2>消息通知</h2>
            </div>
            <div class="col-md-10 offset-md-1">
				<nav class="breadcrumb" id="btn">
					<button class="breadcrumb-item btn active" type="button">私信</button>
					<button class="breadcrumb-item btn " type="button">举报信息</button>
				 </nav>
				<div>
					<ul style="position: relative;">
						<li class="hh" style="position: absolute;display: block;">
							<div>
							<ul>
								<li>
									<div>
										<span style="font-size: 20px;"><span class="small">来自</span>&nbsp;张</span>
										<span style="color: gray;">2020:02:02</span>
										<p class="break-word" style="padding: 0 10px;">hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
									</div>
								</li>
							</ul>
							</div>
							
						</li>
						<li class="hh" style="position: absolute;display: none;">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item">
								  <a class="nav-link active" data-toggle="tab" href="#home">帖子</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" data-toggle="tab" href="#menu1">电影或书籍的评论</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" data-toggle="tab" href="#menu2">话题</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#menu3">话题的评论</a>
								  </li>
							  </ul>
							  <div class="tab-content">
								<div id="home" class="tab-pane active"><br>
									<div class="d-flex" style="margin-bottom: 10px;">
										<span style="width:20%;">帖子</span>
										<span style="width:14%;margin-left: 3px;">来自</span>
										<span style="width:14%;margin-left: 3px;">举报标题</span>
										<span style="width:30%;margin-left: 3px;">详细信息</span>
									</div>
									<ul style="font-size: 17px;line-height: 20px">
										<li v-for="item in resultList">
											<div class="d-flex" >	
											<a :href="item.tohref" class="break-word" style="width: 20%">{{ item.type }}</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;margin-left: 3px;">{{ item.high }}</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;margin-left: 3px;">{{ item.low }}</a>
											<p class="break-word" style="width:30%;margin-left: 3px;">hhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
											<button type="button" class="btn">通过</button>
											<button type="button" class="btn" style="color: indianred;">驳回</button>
											 </div>	
										</li>
									</ul>
								</div>
								<div id="menu1" class="tab-pane fade"><br>
									<div class="d-flex" style="margin-bottom: 10px;">
										<span style="width:24%;">评论内容</span>
										<span style="width:14%;margin-left: 3px;">电影或书籍</span>
										<span style="width:14%;margin-left: 3px;">举报标题</span>
										<span style="width:30%;margin-left: 3px;">详细信息</span>
									</div>
									<ul style="font-size: 17px;line-height: 20px;">
										<li v-for="item in resultList">
												<div class="d-flex" >
												<a  data-toggle="tooltip" data-placement="top" title="评论内容!从前有座山" style="width: 24%;color: black;">鼠标停留查看详情</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;margin-left: 3px;">{{ item.low }}</a>
											<p class="break-word" style="width:14%;margin-left: 3px;">hhhhhhh</p>
											<p class="break-word" style="width:30%;margin-left: 3px;">hhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
											<button type="button" class="btn">通过</button>
											<button type="button" class="btn" style="color: indianred;">驳回</button>
											 </div>	
										</li>
									</ul>
								</div>
								<div id="menu2" class="tab-pane fade"><br>
									<div class="d-flex" style="margin-bottom: 10px;">
										<span style="width:20%;">话题标题</span>
										<span style="width:14%;margin-left: 3px;">来自</span>
										<span style="width:14%;margin-left: 3px;">举报标题</span>
										<span style="width:30%;margin-left: 3px;">详细信息</span>
									</div>
									<ul style="font-size: 17px;line-height: 20px">
										<li v-for="item in resultList">
											<div class="d-flex" >	
											<a :href="item.tohref" class="break-word" style="width: 20%">{{ item.type }}</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;margin-left: 3px;">{{ item.high }}</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;margin-left: 3px;">{{ item.low }}</a>
											<p class="break-word" style="width:30%;margin-left: 3px;">hhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
											<button type="button" class="btn">通过</button>
											<button type="button" class="btn" style="color: indianred;">驳回</button>
											 </div>	
										</li>
									</ul>
								</div>
								<div id="menu3" class="tab-pane fade"><br>
									<div class="d-flex" style="margin-bottom: 10px;">
										<span style="width:24%;">评论内容</span>
										<span style="width:14%;">话题评论</span>
										<span style="width:14%;">举报标题</span>
										<span style="width:30%;">详细信息</span>
									</div>
									<ul style="font-size: 17px;line-height: 20px;">
										<li v-for="item in resultList">
												<div class="d-flex" >
												<a  data-toggle="tooltip" data-placement="top" title="评论内容!从前有座山" style="width: 24%;color: black;">鼠标停留查看详情</a>
											<a :href="item.fromhref" class="break-word" style="width: 14%;">{{ item.low }}</a>
											<p class="break-word" style="width:14%">hhhhhhh</p>
											<p class="break-word" style="width:30%">hhhhhhhhhhhhhhhhhhhhhhhhhhh</p>
											<button type="button" class="btn">通过</button>
											<button type="button" class="btn" style="color: indianred;">驳回</button>
											 </div>	
										</li>
									</ul>
								</div>
							  </div>
						</li>
					</ul>
				</div>
			</div>
        </div>
    </div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
	</script>
	<script>
		$(document).ready(function(){
			$('[data-toggle="tooltip"]').tooltip();   
		});
		</script>
</body>
</html>
