<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>话题广场</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/daohang.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./js/Move.js"></script>
    <script src="./iconfont/iconfont.js"></script>
</head>
<body>
    <div class="container_fluid"  id="mytopic">
        <div class="modal fade"  style="position: fixed;top: 30%">
            <div class="modal-dialog">
              <div class="modal-content">
           
                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">发布我的话题</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
           
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="d-flex">
                         <label for="ti">标题:</label><input type="text" class="flex-grow-1" id="ti" v-model="title" style="margin-left: 10px;">
                    </div>
                    <p><label for="con">内容</label></p>
                    <textarea  id="con" maxlength="200" style="height: 80px;width: 100%;margin-top: -20px;" v-model="content"></textarea>
                    <p>相关的书籍或影视的名字（选填，且必须是花瓣有的数据哦~）</p>
                    <input id="sub" type="text" style="width: 100%;" v-moel="relati">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="position: relative;left:400px;margin-top: 20px;" @click="submit">发送</button>
                </div>	  
              </div>
            </div>
          </div>
        <div class="row" style="background-color: #030e11;">
        	<div class="col_md_12 " >
            	<div id="menu">
                	<li> <a href="#" >花瓣</a></li>
                	<li> <a href="#" >书籍</a></li>
                	<li> <a href="#" >影视</a></li>
                	<li> <a href="#" >话题广场</a></li>
                	<li> <a href="#" >小组</a></li>
                	<li> <a href="#" >消息通知</a></li>
                	<li id="drop1">
                    	<a href="#">账号</a>
                    	<div id="dropdown1" class="dropdown_1">
                        	<div class="col_1">
                            	<ul class="simple">
                                	<li><a href="#">个人主页</a></li>
                                	<li><a href="#">退出账号</a></li>
                            	</ul>
                        	</div>
                    	</div>
                	</li>
                	<li><a href="" >联系我们</a></li>
            	</div>
        	</div>
    	</div>
    <div class="row" style="background: cornflowerblue">
        <div class="col-md-4 offset-md-6" >
                <div class="input-group mb-3"  >
                <input type="text" class="form-control" v-model="content2" @keyup.enter="ShouyeSearch" placeholder="Search" style="margin: 10px" >
                <div class="input-group-append" style= "background-color:transparent;border:0; margin: 10px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">搜索内容</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" @click="ShouyeSearch" >全部</a>
                            <a class="dropdown-item" href="#" @click="ShouyeSearch" >社会</a>
                            <a class="dropdown-item" href="#" @click="ShouyeSearch" >搞笑</a>
                            <a class="dropdown-item" href="#" @click="ShouyeSearch" >书籍</a>
                            <a class="dropdown-item" href="#" @click="ShouyeSearch" >影视</a>
                        </div>
                    </div> 
                    <button type="button" class="btn btn-dark" style="margin-left: 20px;"  data-toggle="modal" data-target="#mytopic">发布我的话题</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 30px;;background: #f0f0f0;">
        <div class="col-md-10 offset-md-1" style="background: white;padding-top: 20px;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">全部话题</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">社会</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">搞笑</a>
                </li>
     
                  <li class="nav-item">
                    <a class="nav-link" href="#">书籍</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">影视</a>
                  </li>

              </ul>
        </div>

        <div class="col-md-10 offset-md-1" style="background: white;">
            <ul>
            <li class="p-2" style="display: inline-block;border: 1px black;width: 49%;border-bottom: 1px #f0f0f0 solid; " v-for="item in resultList">
             <div class="d-flex" style="height: 100px;">
                <img src="jpg/book2.jpg" width="80px" height="100%">
                <div class="d-flex flex-column p-2" >
                    <div>
						<a href="#" class="break-word" style="padding: 2px 5px;;display: inline;background: #99cfff;color: white;font-weight: bolder;line-height: 16px;font-size: 12px">{{ item.type }}</a>
					</div>
                   <p style="color:#2a6496;font-size: 12px;line-height: 15px;margin-top: 20px;">{{item.high}}个讨论</p>
                   <p style="color:#2a6496;font-size: 12px;line-height: 15px;">{{item.low}}天新增{{item.high}}个讨论 {{item.high}}天新增{{item.low}}个讨论</p>
                </div>
            </div>
            </li>
        </ul>
        </div>  
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    var mytopic=new Vue({
		el:"#mytopic",
		data:{
			title:"dd",
			content:"ddd",
			relati:"rve",
			content2: '',
			resultList: [{type:'刀剑神域',high:'2',low:'3',fengxiang:'东风',date:'2020-05-17'}]
		},
		methods:{
			submit:function(){
				var that=this;
				axios.post("check.html",
				{
					content:that.content,
					title:that.title,
					relati:that.relati

				})
				.then(function(response){
				},function(error) {
				})
			},
			ShouyeSearch: function () {
				//这里需要后端的网址
				var that = this;
				axios.get('http://wthrcdn.etouch.cn/weather_mini?city='+ that.content2)
					.then(function (response) {
						console.log(that.content2);
						console.log(response);
						that.resultList = response.data.data.forecast;
					})
					.catch(function (err) {

					})
			}
		}
	});

</script>

</body>

</html>