<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>花瓣--小组</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/daohang.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./js/Move.js"></script>
    <script src="./iconfont/iconfont.js"></script>
</head>
<body>
<div class="container_fluid">
    <div class="modal fade" id="myModal" style="position: fixed;top: 30%;width: 630px;left: 30%;">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">添加标签</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div class="d-flex" style="width: 100%;">
                        <p>标签：</p>
                        <input type="text" maxlength="100" style="width: 80%;" v-model="content" id="type">
                    </div>
                    <button type="button" class="btn btn-success" id="submit_type" data-dismiss="modal"
                            style="margin-left: 80%;margin-top: 10px;">提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" style="position: fixed">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">发布我的帖子</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    <input type="text" style="width: 100%;font-size: 30px;border: none;" v-model="title"
                           placeholder="标题" id="title">
                    <div style="height: 1px;margin-bottom: 20px;background: cornflowerblue;"></div>
                    <textarea style="height: 400px;width: 100%;font-size: 25px;" maxlength="600" placeholder="内容"
                              v-model="content" id="content"></textarea>
                    <button type="button" class="btn btn-success" id="submit_tiezi" data-dismiss="modal"
                            style="margin-left: 80%;margin-top: 10px;width: 130px;">提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="toOwn" style="position: fixed;top: 30%">
		<div class="modal-dialog">
		  <div class="modal-content">
	   
			<!-- 模态框头部 -->
			<div class="modal-header">
			  <h4 class="modal-title">想要对他说点悄悄话</h4>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
	   
			<!-- 模态框主体 -->
			<div class="modal-body">
			  <textarea maxlength="200" style="height: 80px;width: 100%;" v-model="content"></textarea>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal" style="position: relative;left:400px;" @click="submit">发送</button>
			</div>	  
		  </div>
		</div>
	  </div>
    <!--引入顶栏 -->
    <div th:replace="~{common/bar::header}"></div>
    <!--<div th:replace="~{common/bar::search}"></div>-->


    <div class="row" style="margin-top: 60px;">
        <div class="col-md-7 offset-md-1">
            <div class="group-info d-flex" id="groupInfo">
                <div>
                    <div style="width: 150px;height: 150px;padding:2px;background: black;border-radius: 3px;">
                        <img src="jpg/fire2.jpg" style="width: 100%;height: 100%;">
                    </div>
                    <div class="d-flex inclue-info"
                         style="margin-left: -15px;margin-top: 10%;background:snow;height: 70px;">
                        <div style="width: 70px;height: 70px;font-size: 20px;">
                            <p class="text-center" style="margin-top: 10px;margin-bottom: -3px;">[[${total}]]</p>
                            <p class="text-center small">成员</p>
                        </div>
                        <div style="width: 0.5px;height: 60%;margin-top:10%;background:rgba(0, 0, 0, 0.2);"></div>
                        <div style="width: 70px;height: 70px;font-size: 20px;">
                            <p class="text-center" style="margin-top: 10px;margin-bottom: -3px;">[[${postTotal}]]</p>
                            <p class="text-center small">帖子</p>
                        </div>
                        <div style="width: 0.5px;height: 60%;margin-top:10%;background:rgba(0, 0, 0, 0.2);"></div>
                        <div style="width: 70px;height: 70px;font-size: 20px;">
                            <p class="text-center" style="margin-top: 10px;margin-bottom: -3px;">[[${group.active}]]</p>
                            <p class="text-center small">活跃度</p>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1" style="margin-left: 30px;background: snow">
                    <div class="d-flex" style="margin-top: 10px;">
                        <h3>[[${group.name}]]</h3>
                        <input id="gid" hidden="hidden" th:value="${group.id}"></input>
                        <span style="color: gray;margin-top: 7px;margin-left: 30px;"
                              th:text="${group.uname}+'的小组'"></span>
                        <span class="flex-grow-1" style="color: gray;margin-top: 7px;margin-left: 30px;">[[${group.datetime}]]</span>
                        <button type="button" class="btn" style="color: orangered;" id="addMember">加入小组</button>
                        <button type="button" class="btn" style="color: royalblue;" id="addAdmin">申请成为管理员</button>
                    </div>
                    <div class="d-flex" style="font-size: 20px;">
                        <span>标签：</span>
                        <ul th:each="item:${typeList}">
                            <li style="display: inline;" v-for="item in arr" :title="item">
                                <span class="small p-2" style="background: #bfa;border-radius: 5px;margin-left: 5px;">[[${item}]]</span>
                            </li>
                        </ul>
                        <button type="submit" class="btn" data-target="#myModal" data-toggle="modal"
                                style="margin-left: 20px;margin-top:-11px" @click="addtitle">+添加标签
                        </button>
                    </div>
                    <pre class="break-word"
                         style="width: 100%;font-size: 17px;line-height: 28px;">[[${group.des}]]</pre>
                </div>
            </div>
            <div class="pinglun" style="width: 100%;margin-top: 40px;" id="pinglun">
                <button type="button" class="btn btn-dark" href="javascript:;"
                        style="margin-left: 5px;margin-bottom: 20px;" data-target="#myModal2" data-toggle="modal">发布我的帖子
                </button>
                <div class="d-flex">
                    <span style="width:52%;">帖子</span>
                    <span style="width:17%;">发布者</span>
                    <span style="width: 18%;">发布时间</span>
                    <!--<span class="flex-grow-1">发布时间</span>-->
                </div>
                <ul style="font-size: 17px;line-height: 20px;" th:each="item:${postList}">
                    <li style="margin-top: 10px;">
                        <div style="position: relative;height: 20px;">
                            <a :href="item.tohref" class="break-word" style="width: 50%;position: absolute;left: 0;"><i
                                    class="iconfont icon-zhiding"
                                    style="margin-right: 10px;color: brown;position: absolute;left: -20px;"></i>[[${item.title}]]</a>
                            <a :href="item.fromhref" class="break-word"
                               style="position: absolute;left: 52%;width: 17%;">[[${item.uname}]]</a>
                            <span style="position: absolute;left: 69%;color: gray;width: 35%">[[${item.datetime}]]</span>
                            <!--<span style="position: absolute;left: 77%;color: gray;width: 50%;">[[${item.datetime}]]</span>-->
                            <button type="button" class="btn iconfont icon-zhiding"
                                    style="position: absolute;left: 94%;top: -6px;" @click="toUp(index)"
                                    v-show="!item.up"></button>
                            <button type="button" class="btn iconfont icon-guanbi"
                                    style="position: absolute;left: 97%;top: -6px;" @click="remove(index)"></button>
                        </div>
                        <div style="height: 0.2px;background: cornflowerblue;opacity: 0.4;;margin-top: 4px;"></div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-1" style="height: 100px">
            <div class="controler-info" id="owner">
                <h4>组主</h4>
                <div class="d-flex">
                    <div style="width: 50px;height: 50px;border-radius: 50px;overflow: hidden;">
                        <img src="jpg/fire2.jpg" width="100%" height="100%">
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex" style="margin-left: 14px;">
                            <a :href="href" style="font-size: 17px;margin-top: 4px;color: black">[[${group.uname}]]</a>
                            <button type="button" class="btn iconfont icon-pinglun" style="color: gray;" data-target="#toOwn" data-toggle="modal">发私信</button>
                        </div>
                        <!--<p class="elli" style="font-size: 14px;width: 150px;color: darkgray;">{{ content }}</p>-->
                    </div>
                </div>
            </div>
            <div class="xiaodi-info" id="controler">
                <h4>管理员</h4>
                <ul th:each="item:${adminList}">
                    <li>
                        <div class="d-flex">
                            <div style="width: 50px;height: 50px;border-radius: 50px;overflow: hidden;">
                                <img src="jpg/fire2.jpg" width="100%" height="100%">
                            </div>
                            <div class="flex-grow-1">
                                <div class="d-flex" style="margin-left: 14px;">
                                    <a style="font-size: 17px;margin-top: 4px;color: black;" th:each="entry:${item}"
                                       th:text="${entry.value}"></a>
                                    <button type="button" class="btn iconfont icon-pinglun" style="color: gray;" data-target="#toOwn" data-toggle="modal">发私信
                                    </button>
                                </div>
                                <!--<p class="elli" style="font-size: 14px;width: 150px;color: darkgray;">{{ item.content }}</p>	-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hot-group" id="hot_group_info">
                <h4>成员们也喜欢逛逛</h4>
                <ul th:each="item:${memberList}">
                    <li style="margin-top: 10px;">
                        <div class="hot-group-item d-flex">
                            <div class="pic" style="width:30px;height: 30px;border-radius: 30px;overflow: hidden;"><img
                                    src="jpg/fire2.jpg" style="width:100%;height: 100%;"></div>
                            <a class="break-word" style="color:black;margin-left: 10px;" th:each="entry:${item}"
                               th:text="${entry.value}"></a>
                        </div>
                        <div class="myborder"></div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    $("#submit_tiezi").click(function () {
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/publishPost",
            data: {
                "title": $("#title").val(),
                "content": $("#content").val(),
                "gid": $("#gid").val()
            },
            success: function (result) {
                // 只有请求成功（状态码为200）才会执行这个函数
                //$("#ret").text(result);
                alert(result);
                //刷新页面
                window.location.reload();

            },
            error: function (result) {
                // 只有请求不正常（状态码不为200）才会执行
                //$("#ret").text(result.responseText);
                alert("失败" + result.responseText);

            }
        });
    });
    $("#addAdmin").click(function () {
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/addAdmin",
            data: {
                "id": $("#gid").val()
            },
            success: function (result) {
                // 只有请求成功（状态码为200）才会执行这个函数
                //$("#ret").text(result);
                alert(result);
                //刷新页面
                window.location.reload();

            },
            error: function (result) {
                // 只有请求不正常（状态码不为200）才会执行
                //$("#ret").text(result.responseText);
                alert("失败" + result.responseText);

            }
        });
    });
    $("#addMember").click(function () {
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/addMember",
            data: {
                "id": $("#gid").val()
            },
            success: function (result) {
                // 只有请求成功（状态码为200）才会执行这个函数
                //$("#ret").text(result);
                alert(result);
                //刷新页面
                window.location.reload();

            },
            error: function (result) {
                // 只有请求不正常（状态码不为200）才会执行
                //$("#ret").text(result.responseText);
                alert("失败" + result.responseText);

            }
        });
    });
    $("#submit_type").click(function () {
        $.ajax({
            type: "POST",
            dataType: "text",
            url: "/addType",
            data: {
                "id": $("#gid").val(),
                "type": $("#type").val()
            },
            success: function (result) {
                // 只有请求成功（状态码为200）才会执行这个函数
                //$("#ret").text(result);
               // alert(result);
                //刷新页面
                window.location.reload();

            },
            error: function (result) {
                // 只有请求不正常（状态码不为200）才会执行
                //$("#ret").text(result.responseText);
                alert("失败" + result.responseText);

            }
        });
    });
</script>
</body>
</html>