<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>花瓣--首页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/daohang.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./js/Move.js"></script>
    <script src="./iconfont/iconfont.js"></script>
    <script>
        window.onload = function () {
            var hot_group = document.getElementById('hot-group1');
            var ohot_group_items = hot_group.getElementsByTagName('a');
            var ohot_group_myborders = hot_group.getElementsByClassName('myborder');
            for (var j = 0; j < ohot_group_items.length; j++) {
                ohot_group_items[j].index = j;
                ohot_group_items[j].onmouseover = function () {
                    ohot_group_myborders[this.index].target = ohot_group_myborders[this.index].offsetWidth;
                    ohot_group_myborders[this.index].style.width = '0';
                    Mouse(ohot_group_myborders[this.index], ohot_group_myborders[this.index].target, 'width')
                }
                ohot_group_items[j].onmouseout = function () {
                    ohot_group_myborders[this.index].style.width = ohot_group_myborders[this.index].target + 'px';
                }
            }
            var hot_group2 = document.getElementById('hot-group2');
            var ohot_group_items2 = hot_group2.getElementsByTagName('a');
            var ohot_group_myborders2 = hot_group2.getElementsByClassName('myborder');
            for (var j = 0; j < ohot_group_items2.length; j++) {
                ohot_group_items2[j].index = j;
                ohot_group_items2[j].onmouseover = function () {
                    ohot_group_myborders2[this.index].target = ohot_group_myborders2[this.index].offsetWidth;
                    ohot_group_myborders2[this.index].style.width = '0';
                    Mouse(ohot_group_myborders2[this.index], ohot_group_myborders2[this.index].target, 'width')
                }
                ohot_group_items2[j].onmouseout = function () {
                    ohot_group_myborders2[this.index].style.width = ohot_group_myborders2[this.index].target + 'px';
                }
            }
            var hot_group3 = document.getElementById('hot-group3');
            var ohot_group_items3 = hot_group3.getElementsByTagName('a');
            var ohot_group_myborders3 = hot_group3.getElementsByClassName('myborder');
            for (var j = 0; j < ohot_group_items3.length; j++) {
                ohot_group_items3[j].index = j;
                ohot_group_items3[j].onmouseover = function () {
                    ohot_group_myborders3[this.index].target = ohot_group_myborders3[this.index].offsetWidth;
                    ohot_group_myborders3[this.index].style.width = '0';
                    Mouse(ohot_group_myborders3[this.index], ohot_group_myborders3[this.index].target, 'width')
                }
                ohot_group_items3[j].onmouseout = function () {
                    ohot_group_myborders3[this.index].style.width = ohot_group_myborders3[this.index].target + 'px';
                }
            }
        }
    </script>
    <style>
        .hot-group {
            border-radius: 7px;
            overflow: hidden;
            height: auto;
            width: 100%;
            overflow: hidden;
            position: relative;
            z-index: 0;
        }

        .hot-group:hover {
            width: 103%;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
        }

        .hot-group-item {
            position: relative;
            width: 100%;
            height: 90px
        }

        .hot-group .pic {
            position: absolute;
            width: 30%;
            height: 100%;
            left: 0;
            top: 0
        }

        .hot-group .pic img {
            width: 70%;
            height: 70%;
        }

        .hot-group .info {
            position: absolute;
            width: 70%;
            height: 100%;
            left: 30%;
            top: 10px
        }

        .hot-group .info > a {
            position: absolute;
            left: 0;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .myborder {
            width: 100%;
            height: 1px;
            background: #b3d4fc;
            overflow: hidden
        }

        .big-border {
            width: 100%;
            height: 1px;
            background: cornflowerblue
        }

        .switch-item {
            width: 30px;
            height: 30px;
            background: lightsteelblue;
            border-radius: 3px;
            overflow: hidden;
            opacity: 0.4;
            filter: alpha(40);
            margin: 5px
        }
    </style>
</head>

<body>
<div class="container_fluid">
    <!--引入顶栏 -->
    <div th:replace="~{common/bar::header}"></div>
    <div th:replace="~{common/bar::search}"></div>

    <div class="row" style="margin-top: 60px;">
        <div class=" col-md-10 offset-md-1" style="position: relative;">
            <div class="d-flex"
                 style="position: absolute;background:snow;width: 120%;height: 120%;margin-left: -130px;margin-top: -30px;">
            </div>
            <div class="d-flex justify-content-around">
                <div class="hot-group" style="width:20%;background: white;border-radius: 20px;" id="hot-group1">
                    <div class="big-border"></div>
                    <h4 class="text-center p-4" style="color: blue; ">热门书籍</h4>
                    <ul style="padding:0 20px;font-size: 18px;font-weight: bold;">
                        <li :title="item" style="margin-top: 10px;" th:each="item:${bookList}">
                            <a th:href="@{'/book?id='+${item.id}}" style="color: black;;">[[${item.name}]]</a>
                            <div class="myborder"></div>
                        </li>
                    </ul>
                </div>
                <div class="hot-group" style="width:20%;background: white;border-radius: 20px;" id="hot-group2">
                    <div class="big-border"></div>
                    <h4 class="text-center p-4" style="color: blue; ">热门影视</h4>
                    <ul style="padding:0 20px;font-size: 18px;font-weight: bold;">
                        <li :title="item" style="margin-top: 10px;" th:each="item:${movieList}">
                            <a th:href="@{'/movie?id='+${item.id}}" style="color: black;;">[[${item.name}]]</a>
                            <div class="myborder"></div>
                        </li>
                    </ul>
                </div>
                <div class="hot-group" style="width:20%;background: white;border-radius: 20px;" id="hot-group3">
                    <div class="big-border"></div>
                    <h4 class="text-center p-4" style="color: blue; ">热门话题</h4>
                    <ul style="padding:0 20px;font-size: 18px;font-weight: bold;">
                        <li  style="margin-top: 10px;" th:each="item:${topicList}">
                            <a th:href="@{'/itemTopic?id='+${item.id}}" style="color: black;;">[[${item.title}]]</a>
                            <div class="myborder"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-10 offset-md-1">
            <div class="movie-content" id="movie_content">
                <div class="p-1"
                     style="background:url(jpg/back.jpg);background-repeat:no-repeat ;background-size: 100% 100%;height:auto;width: 100%;">
                    <h1 style="margin-left: 30px;color: white;font-weight: bolder;font-size: 35px;">热门影评</h1>
                </div>
                <ul style="margin-top: 30px;">
                    <li style="width: 100%;height: 200px;" th:each="item:${movieCommentsList}">
                        <div class="d-flex">
                            <img src="jpg/fire2.jpg" width="10%" height="120px">
                            <div class="p-2 flex-grow-1" style="margin-top: -15px;margin-left: 10px;">
                                <a th:href="@{'/movie?id='+${item.bid}}" style="font-size: 25px;">[[${item.bname}]]</a>
                                <p class="break-word" style="height: 60px;overflow: hidden;">[[${item.content}]]</p>
                                <div class="d-flex">
                                    <div style="width: 20px;height: 20px;border-radius: 20px;overflow: hidden;margin-top: 3px;">
                                        <img src="jpg/fire2.jpg" style="width: 100%;height: 100%;margin-top:-9px;">
                                    </div>
                                    <a th:href="@{'/user?id='+${item.uid}}"
                                       style="margin-left: 10px;">[[${item.uname}]]</a>
                                    <p class="flex-grow-1" style="margin-left: 20px;">[[${item.time}]]</p>
                                    <a type="button" class="btn" th:href="@{'/zanMovie?id='+${item.id}}"><i
                                            class="iconfont icon-buoumaotubiao16"
                                            style="font-size:16px;color: cornflowerblue;margin-left:13px;">点赞([[${item.zan}]])</i></a>
                                    <a type="button" class="btn" th:href="@{'/fanduiMovie?id='+${item.id}}"><i
                                            class="iconfont icon-fandui  "
                                            style="font-size:16px;margin-left:13px;color: black;">反对([[${item.fandui}]])</i></a>

                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>

            <div class="book-content" id="book_content">
                <div class="p-1"
                     style="background:url(jpg/back.jpg);background-repeat:no-repeat ;background-size: 100% 100%;height:auto;width: 100%;">
                    <h1 style="margin-left: 30px;color: white;font-weight: bolder;font-size: 35px;">热门书评</h1>
                </div>
                <ul style="margin-top: 30px;">
                    <li style="width: 100%;height: 200px;" th:each="item:${bookCommentsList}">
                        <div class="d-flex">
                            <img src="jpg/fire2.jpg" width="10%" height="120px">
                            <div class="p-2 flex-grow-1" style="margin-top: -15px;margin-left: 10px;">
                                <a th:href="@{'/book?id='+${item.bid}}" style="font-size: 25px;">[[${item.bname}]]</a>
                                <p class="break-word" style="height: 60px;overflow: hidden;">[[${item.content}]]</p>
                                <div class="d-flex">
                                    <div style="width: 20px;height: 20px;border-radius: 20px;overflow: hidden;margin-top: 3px;">
                                        <img src="jpg/fire2.jpg" style="width: 100%;height: 100%;margin-top:-9px;">
                                    </div>
                                    <a th:href="@{'/user?id='+${item.uid}}"
                                       style="margin-left: 10px;">[[${item.uname}]]</a>
                                    <p class="flex-grow-1" style="margin-left: 20px;">[[${item.time}]]</p>
                                    <a type="button" class="btn" th:href="@{'/zanBook?id='+${item.id}}"><i
                                            class="iconfont icon-buoumaotubiao16"
                                            style="font-size:16px;color: cornflowerblue;margin-left:13px;">点赞([[${item.zan}]])</i></a>
                                    <a type="button" class="btn" th:href="@{'/fanduiBook?id='+${item.id}}"><i
                                            class="iconfont icon-fandui  "
                                            style="font-size:16px;margin-left:13px;color: black;">反对([[${item.fandui}]])</i></a>
                    
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form action="search" hidden="hidden" id="formSearch">
        <input name="search" id="search">
        <input name="type" id="type">
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var hot_group1 = new Vue
    ({
        el: "#hot-group1",
        data:
            {
                arr: [{href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}]
            }
    });
    var hot_group2 = new Vue
    ({
        el: "#hot-group2",
        data:
            {
                arr: [{href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}]
            }
    });
    var hot_group3 = new Vue
    ({
        el: "#hot-group3",
        data:
            {
                arr: [{href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}, {
                    href: "https://baidu.com",
                    name: "小情书"
                }, {href: "https://baidu.com", name: "小情书"}]
            }
    });
    var movie_content = new Vue
    ({
        el: "#movie_content",
        data:
            {
                arr: [{
                    tojpg: "jpg/fire2.jpg",
                    toname: "冰与火之歌",
                    tohref: "https://baidu.com",
                    content: "hhh",
                    ownjpg: "jpg/fire2.jpg",
                    ownname: "西瓜啊",
                    ownhref: "https://baidu.com",
                    time: "2020/01/01 22:03",
                    like: 12,
                    disLike: 20
                }, {
                    tojpg: "jpg/fire2.jpg",
                    toname: "冰与火之歌",
                    tohref: "https://baidu.com",
                    content: "hhh",
                    ownjpg: "jpg/fire2.jpg",
                    ownname: "西瓜啊",
                    ownhref: "https://baidu.com",
                    time: "2020/01/01 22:03",
                    like: 12,
                    disLike: 20
                }]
            }
    });
    var book_content = new Vue
    ({
        el: "#book_content",
        data:
            {
                arr: [{
                    tojpg: "jpg/fire2.jpg",
                    toname: "冰与火之歌",
                    tohref: "https://baidu.com",
                    content: "hhh",
                    ownjpg: "jpg/fire2.jpg",
                    ownname: "西瓜啊",
                    ownhref: "https://baidu.com",
                    time: "2020/01/01 22:03",
                    like: 12,
                    disLike: 20
                }, {
                    tojpg: "jpg/fire2.jpg",
                    toname: "冰与火之歌",
                    tohref: "https://baidu.com",
                    content: "hhh",
                    ownjpg: "jpg/fire2.jpg",
                    ownname: "西瓜啊",
                    ownhref: "https://baidu.com",
                    time: "2020/01/01 22:03",
                    like: 12,
                    disLike: 20
                }]
            }
    });


    $("#search1").click(function () {
        dosearch(1);
    });
    $("#search2").click(function () {
        dosearch(2);
    });
    $("#search3").click(function () {
        dosearch(3);
    });
    $("#search4").click(function () {
        dosearch(4);
    });

    function dosearch(type) {
        $("#search").val($("#searchText").val());
        $("#type").val(type);
        $("#formSearch").submit();
    }
</script>
</body>
</html>
